<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mvpapp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SiteActivity"></activity>
        <activity
            android:name=".OverviewActivity"
            android:label="@string/title_activity_overview" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="CTIfYVO9oYYFksNDtdtq" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="SwejobKF0VB0Gb55VxUKbg" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="Jrx7TlAMyFBBtoxGWYFV6u+ADycv4p8epWFu9+W5IdJxhaGI0dwCrjY9Qm+8wYx1+W9oqyGAWscF9PhjSiBfbXmOjemUOYnkKpGvh2GsG5Xoj7FAwrFyVPZeQW6MDfkheads7x586wHiudBiopjcNPk3hQvd02N9k+vlz18qEc7YJi3YZ/hZPYvW6DhzHDueVGzjGpbdllhWcxAsDL1smMu4cTp9HKD9mHLtzyMj1+qF0iieDTlUTzEZeWFpCmEK/meF8jmpp2dOM1MWH+bGev8XDK5D8KrAWWNbH+8wqqaAkMFF5GQUe5090PeKStk89MA0qiv8t8Umw+GWWACUkfsoZiorN8Jf77aHU0SbnO+T2o3pMyYjeRGb05tkccSNy7j1SqvCcy86LTpffomtgfBw4YSLa/MPPTujZYWYO44cQFL/WyxGcwxstPaYO408AuaFWiSRgPc+aP1yAkRDfmtW4Uv/0MCx9njEr9K4tGv7xt7O8qqhu3JKZajj//Vp4FVqn1tw2dLb8EBvlzfWC3Dlgc8XGP5pd2Y5P56GBriO/iHUGlVGTEDlEWKcHuKI6qYMtz0+8ahISANs5F0n2BU9iwpSx0dcfGsnwWh1gzkIu9Fcww9NvXUH/O0k1xTrex9XAkQPFBmenRk5w/fBUaauS4PAYxmwiGLBfKe/Xk8=" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="false"
            android:label="OverviewMapService">
            <intent-filter>
                <action android:name="com.example.mvpapp.MapService"></action>
            </intent-filter>
        </service>
    </application>

</manifest>